</br>

<h2>
    All Students
</h2>

</br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Student ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Major</th>
      <th scope="col">Status</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  
  <tbody>
      <% @all_students.each do |id, fname, lname, email, major, status| %>
      <tr>
      <th scope="row"><a href = "/students/<%= id %>"> <%= id %></a></th>
      <td><%= fname %></td>
      <td><%= lname %></td>
      <td><%= email %></td>
      <td><%= major %></td>
      <td><%= status %></td>
      <td><a href= "/students/<%= id %>/edit" class="btn btn-primary"</a> Edit</a></td>
      <td><a href= "/students/<%= id %>/delete" class="btn btn-danger"</a> Delete</a></td>
    </tr>
    <% end %>
  </tbody>
</table>